@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300,100);

body, html {
  background: #fff;
  font: 1em/1.2em 'Roboto Slab', Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1, h2, h3 {
  text-align: center;
}

h1 {
  color: #3d4650;
  font: 2em 'Roboto Condensed', sans-serif;
  padding: 0.7em;
  text-transform: uppercase;
}

h2 {
  color: #fff;
  font-size: 2.75em;
  font-weight: 300;
  line-height: 1.5em;
}

h3 {
  font-size: 1.5em;
  font-weight: 300;
}

a {
  border-bottom: 1px dotted #777;
  color: #000;
  text-decoration: none;
}

.container {
  margin: auto;
  max-width: 800px;
  width: 80%;
}

header {
  padding-bottom: 4em;
  text-align: center;
}

  #social a {
    border-radius: 100%;
    border: 2px solid #3d4650;
    display: inline-block;
    font-size: 0;
    height: 36px;
    margin: 0 10px;
    transition: border 0.3s;
    width: 36px;
  }

    #social a:hover {
      border-color: #000;
    }

#hero {
  background-position: center bottom;
  background-size: cover;
  background: #c3c3c3 url(../img/hero.jpg) no-repeat;
  padding: 6em 0;
  text-align: center;
}

#about {
  padding: 1em;
}

  #about p {
    font-size: 1.1em;
    line-height: 1.9em;
  }

#portfolio {
  background: #a4c4d4;
  padding: 1em;
  text-align: center;
}

  #portfolio h3 {
    color: #fff;
  }

  .shot {
    background: #fff;
    border-radius: 4px;
    border: 0;
    display: inline-block;
    height: auto;
    margin: 1em;
    max-width: 300px;
    overflow: hidden;
    padding: 5px;
    position: relative;
    width: 100%;
  }

    .shot img {
      height: auto;
      width: 100%;
    }

    .shot span {
      background: rgba(0, 0, 0, 0.25);
      bottom: 0;
      left: 0;
      padding: 10px 0;
      position: absolute;
      transition: all 0.1s ease-in;
      width: 100%;
    }

      .shot:hover span {
        padding-bottom: 20px;
      }

footer {
  background: #2d393d;
  color: #fff;
  padding: 1em;
  text-align: center;
}

  footer a {
    color: #fff;
  }

  #top {
    border: 0;
    font-size: 0.8em;
  }

  #contact {
    margin: 2em;
  }

  #copyright {
    color: #737b7d;
    font-size: 0.8em;
    margin: 0;
  }