@import 'variables';
@import 'animations';


// Core

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

html {
    background-color: $grey;
    color: $black;
    font: 300 14px/1.75 'Inconsolata', 'Consolas', monospace;
}

body {
    display: flex;
    flex-flow: column nowrap;
}

::selection {
    background-color: rgba($blue, 0.5);
    color: $white;
}

a {
    border-bottom: 1px dotted $white;
    text-decoration: none;
}

h1,
h2,
h3 {
    font-family: 'Dosis', 'Impact', sans-serif;
    font-weight: 300;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    padding: 2em;
    width: 100%;
}


// Buttons

.btn-pill {
    border: 1px solid $white;
    border-radius: 50em;
    color: $white;
    display: inline-block;
    padding: 1em 2em;
    text-transform: uppercase;
    transition: background-color 0.3s, box-shadow 0.5s, color 0.3s;

    &:hover {
        background-color: $white;
        box-shadow: 0 3px 8px rgba($black, 0.5);
        color: $blue;
    }
}


// Header

.header {
    color: $white;
    display: table;
    flex-shrink: 0;
    font-family: 'Dosis', 'Impact', sans-serif;
    height: 100%;
    max-height: 500px;
    position: relative;
    text-transform: uppercase;
    width: 100%;

    &::before,
    &::after {
        content: '';
        display: block;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
    }

    &::before {
        background: $blue url('/images/hero.jpg') no-repeat center center / cover;
        max-height: 500px;
        position: fixed;
        will-change: transform;
    }

    &::after {
        background: linear-gradient(135deg, transparent 0%, $green 75%);
        opacity: 0.35;
        position: absolute;
    }
}

.header__card {
    display: table-cell;
    height: 100%;
    overflow: hidden;
    vertical-align: middle;
    width: 50%;
    z-index: 1000;

    @media (max-width: 750px) {
        display: block;
        height: 50%;
        text-align: center;
        width: 100%;
    }
}

    .header__card--left {
        text-align: right;

        @media (max-width: 750px) {
            text-align: center;
        }

        .header__card__content {
            animation: anim-slide-left 0.75s ease-out forwards;
            opacity: 0;
        }
    }

.header__card__content {
    display: inline-block;
    padding: 2.25em 3em;
}

.header__card__name {
    background-color: rgba($black, 0.15);
    border: 2px solid $white;
    margin-right: 2em;
    text-align: center;

    @media (max-width: 750px) {
        margin-right: 0;
        margin-top: 20%;
    }
}

    .header__card__name--title {
        font-size: 2.5em;
        letter-spacing: 0.1em;
    }

.header__card__links {
    a {
        animation: anim-slide-right 0.6s ease-out forwards;
        border: 0;
        color: $white;
        display: block;
        font-size: 1.15em;
        letter-spacing: 0.1em;
        opacity: 0;
        padding: 0.5em 2em;
        transition: padding 0.2s;

        &:hover {
            padding-left: 2.5em;
        }
    }

    @for $i from 1 through 4 {
        a:nth-child(#{$i}) {
            animation-delay: unquote('#{0.4 + $i * 0.05}s');
        }
    }
}

.header__bgtext {
    bottom: -1.1rem;
    color: rgba($grey, 0.3);
    font-size: 7.5em;
    left: 0;
    line-height: 1;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: -1;

    @media (max-width: 1200px) {
        bottom: -0.75rem;
        font-size: 5.5em;
    }

    @media (max-width: 850px) {
        bottom: -0.5rem;
        font-size: 3.5em;
    }
}


// Main content

.content {
    background: $grey url('/images/squairy_light.png');
    flex: 1 0 auto;

    h1,
    h2 {
        font-weight: 300;
        text-align: center;
    }

    h1 {
        background: -webkit-linear-gradient($black, lighten($black, 35%));
        background-size: cover;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: $black;
        font-size: 3em;
    }
}


// Footer

.footer {
    background-color: darken($blue, 10%);
    color: $white;
    font-family: 'Dosis', 'Impact', sans-serif;
    flex-shrink: 1;
    text-align: center;

    .container {
        padding-bottom: 1em;
        padding-top: 3em;
    }
}

    .footer__social {
        margin: 1.5em auto;

        a {
            border: 0;
            border-radius: $radius;
            color: lighten($blue, 25%);
            display: inline-block;
            font-weight: 300;
            padding: 0.5em 1em;
            text-transform: uppercase;
            transition: background-color 0.3s, box-shadow 0.5s, color 0.3s;

            &:hover {
                background-color: $white;
                box-shadow: 0 3px 8px rgba($black, 0.5);
                color: $blue;
            }
        }
    }


// Home page sections

.home-content__about {
    p {
        font-size: 1.25em;
        line-height: 2;
        margin-top: 1em;
        text-align: left;
    }
}

.home-content__gallery {
    margin-top: 2em;
    padding-top: 2em;
    position: relative;
    text-align: center;

    h2 {
        display: inline-block;
        font-size: 2em;
        line-height: 1;
        margin: 0 auto;
        position: relative;
        width: 100%;

        &::before,
        &::after {
            border-top: 1px dashed $blue;
            content: '';
            height: 0;
            position: absolute;
            top: 0.5em;
            width: 35%;
        }

        &::before {
            left: 0;
        }

        &::after {
            right: 0;
        }
    }
}


// Portfolio overview

.portfolio {
    text-align: left;
}

.portfolio__item {
    background-color: rgba($white, 0.75);
    border: 1px solid lighten($blue, 30%);
    border-radius: $radius;
    display: table;
    margin: 2em 0;
    padding: 1em;
    transition: border 0.3s, box-shadow 0.5s;
    width: 100%;

    &:hover {
        border-color: $blue;
        box-shadow: 0 0.25em 0.5em rgba($black, 0.15);
    }
}

    .portfolio__item--image,
    .portfolio__item--description {
        display: table-cell;

        @media (max-width: 750px) {
            display: block;
        }
    }

    .portfolio__item--image {
        // background: linear-gradient(235deg, $blue, $green);
        vertical-align: middle;
        width: 250px;

        @media (max-width: 750px) {
            text-align: center;
            width: 100%;
        }

        img {
            height: 187px;
            width: 250px;
        }
    }

    .portfolio__item--description {
        padding-left: 1.5em;
        vertical-align: top;

        @media (max-width: 750px) {
            padding: 0 0.5em;
        }
    }

        .portfolio__item--title {
            font-size: 1.75em;
            text-transform: none;
        }

        .portfolio__item--tags {
            border-bottom: 1px dashed $black;
            margin-bottom: 1em;
            padding-bottom: 1em;

            span {
                background-color: $grey;
                border-radius: $radius;
                padding: 0.25em 0.5em;
            }
        }

        .portfolio__item--link {
            border-radius: $radius;
            color: $blue;
            display: inline-block;
            margin: 1em 0 0 -0.5em;
            padding: 0.5em;
            text-transform: uppercase;
            transition: box-shadow 0.3s, color 0.3s;

            &:hover {
                box-shadow: 0 3px 8px rgba($black, 0.5);
            }
        }
