<!DOCTYPE html>
<html lang="en">
<head>
    <%- partial("_partials/head") %>
</head>
<body>
    <%- yield %>

    <footer class="footer" id="footer-contact">
        <div class="container">
            <a class="btn-pill" href="mailto:ey.cheung@outlook.com">Email me</a>

            <div class="footer__social">
                <a href="https://www.linkedin.com/in/arkon94">LinkedIn</a>
                <a href="https://github.com/arkon">GitHub</a>
                <a href="http://www.dribbble.com/arkon">Dribbble</a>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>
