<!DOCTYPE html>
<html lang="en">
<head>
    <%- partial("_partials/head") %>
</head>
<body>
    <%- yield %>

    <footer class="footer">
        <div class="container">
            <a class="btn-pill" href="mailto:ey.cheung@outlook.com">Email me</a>
            <p class="footer__fin">Made in Canada</p>
        </div>
    </footer>
</body>
</html>
