<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
    <title>Eugene Cheung</title>
    <link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" type="image/png" href="/images/icon.png">
</head>
<body>
    <%- yield %>

    <footer class="footer">
        <div class="container">
            <p>Made in Canada</p>
        </div>
    </footer>
</body>
</html>
