<header class="header">
    <div class="header__card header__card--left">
        <div class="header__card__content header__card__name">
            <h1 class="header__card__name--title">Eugene Cheung</h1>
        </div>
    </div>

    <div class="header__card header__card--right">
        <div class="header__card__content header__card__links">
            <a href="https://www.linkedin.com/in/arkon94">LinkedIn</a>
            <a href="https://github.com/arkon">GitHub</a>
            <a href="http://www.dribbble.com/arkon">Dribbble</a>
        </div>
    </div>
</header>

<section class="content">
    <div class="container">
        <h1>Content goes here</h1>
        <p>Stuff</p>
    </div>
</section>
