@import url("http://fonts.googleapis.com/css?family=Roboto+Condensed:300");
@import url("http://fonts.googleapis.com/css?family=Raleway:400,200");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  background: #fff;
  font: 1em/1.2em Raleway, Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

h1 {
  font: 2.5em "Roboto Condensed", sans-serif;
  text-transform: uppercase;
}

h2 {
  font-size: 1.1em;
  font-weight: 400;
  text-transform: uppercase;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.5em;
}

h4 {
  font-size: 2.75em;
  font-weight: 200;
  line-height: 1.3em;
}

a {
  border-bottom: 1px dotted #777;
  color: #000;
  text-decoration: none;
  transition: all .2s;

  &:hover {
    border-color: #a4c4d4;
  }
}

::selection {
  background: #71bbd7;
}


// Animations

@keyframes shiftUp {
  0%   { opacity: 0; transform: translateY(60px); }
  100% { opacity: 1; transform: translateY(0px); }
}

@keyframes shiftDown {
  0%   { opacity: 0; transform: translateY(-60px); }
  100% { opacity: 1; transform: translateY(0px); }
}
